@model List<PersonalModel>;




<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net |
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<html>
<head>
	<title>Forty by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />
	<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<a href="index.html" class="logo"><strong>Forty</strong> <span>by HTML5 UP</span></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="landing.html">Landing</a></li>
				<li><a href="generic.html">Generic</a></li>
				<li><a href="elements.html">Elements</a></li>
			</ul>
			<ul class="actions stacked">
				<li><a href="#" class="button primary fit">Get Started</a></li>
				<li><a href="#" class="button fit">Log In</a></li>
			</ul>
		</nav>

		<!-- Banner -->
		<section id="banner" class="major">
			<div class="inner">
				<header class="major">
					<h1>Hi, welcome to my portfolio</h1>
					<h2>Tecnico Universitario (UTS)</h2>
				</header> 
				     
                @foreach (var item in Model)
            {
				<div class="content">
					<h3>
							Mi nombre es @Html.DisplayFor(modelItem=>item.Nombre), tengo @Html.DisplayFor(modelItem=>item.Edad) años.
						<br />
						Tengo conocimiento basico en c#, html, CSS. Manejo de frameworks ASP.Net, Xamarin forms. <br/>
						@Html.DisplayFor(modelItem=>item.Descripcion)
					</h3>
					<ul class="actions">
						<li><a href="#one" class="button next scrolly">Start</a></li>
					</ul>
				</div>
				}

			</div>
		</section>

		<!-- Main -->
		<div id="main">

			<!-- One -->
			<section id="one" class="tiles">
				<article>
					<span class="image">
						<img src="images/API.png" alt="" />
					</span>
					<header class="major">
						<h3><a asp-action="Listar" asp-controller="Proyecto"   class="link">Mis proyectos</a></h3>
					
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/Nasa.png" alt="" />
					</span>
					<header class="major">
						<h3> <a asp-action="Index" asp-controller="Apod"  class="link">Mi primera API</a></h3>
						
					
				
				
					
						<p></p>
			</section>

			<!-- Two -->
			<section id="two">
				<div class="inner">
					<header class="major">
						<h2>Gracias por llegar hasta aqui</h2>
					</header>
					<p>Si te interesa colaborar en algun proyecto, tienes una duda o sugerencia te dejo mi informacion de Contacto</p>
					<ul class="actions">
						<li><a href="#" class="button next">Regresar al Inicio</a></li>
					</ul>
				</div>
			</section>

		</div>

		<!-- Contact -->
	
				<section class="split">
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-envelope"></span>
							<h3>Email</h3>
							@foreach (var item in Model)
							{
								<div class="content">
									<p>
										
										@Html.DisplayFor(modelItem=>item.Correo)
									</p>
								</div>
							}
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-phone"></span>
							<h3>Telefono</h3>
							@foreach (var item in Model)
							{
								<div class="content">
									<p>

										@Html.DisplayFor(modelItem=>item.Telefono)
									</p>
								</div>
							}
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-home"></span>
							<h3>Direccion</h3>
							@foreach (var item in Model)
							{
								<div class="content">
									<p>

										@Html.DisplayFor(modelItem=>item.Direccion)
									</p>
								</div>
							}
						</div>
					</section>
				</section>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li>
					<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>

</body>
</html>
